{% extends 'base.html' %}  

{% block content %}
    Dashboard
    <div>{% include 'partials/_alert.html' %}</div>

    {% if not user.is_authenticated %}
        <h1>Please Login to use the dasboard</h1>
    {% else %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <h4>Hello {{ user.username }}</h4>
        {% if not sent_emails %}
            <p>You haven't sent any emails yet, send one now!</p>
        {% else %}
            <table style="border-collapse: collapse; width: 100%;">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Subject</th>
                </tr>
                
                {% for email in sent_emails %}
                    <tr style="text-align: center;">
                        <td>{{ email.id }}</td>
                        <td><a href="{% url 'single_email' email.id %}"> {{ email.title }} </a></td>
                        <td>{{ email.subject }}</td>
                    </tr>
                {% endfor %}
                
            </table>
        {% endif %}
        <a href="{% url 'send_email' %}"> Send Email </a>
    {% endif %}
{% endblock %}